
<div class="row">
  <div class="col-lg-12">
  <%= link_to "Back to Book", book_path(@book), class: 'btn' %>
  <%= form_for [@book, @review] do |f| %>
      <%= f.label :rating %>
      <%= f.text_field :rating%><br>
      <%= f.label :body%>
      <%= f.text_area :body %> <br>
      <%= f.submit "Submit", :class => "btn" %>
    <%end%>
</div>
</div>
