<!DOCTYPE html>
<html>
<head>
  <title>Bookshelf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="row">
    <div class="navbar col-lg-12">
      <div class="navigation">
        <ul class="list-group text-center">
          <li><a href="/books">Bookshelf</a></li>
          <li><a href="/books/new">List New Book</a></li>
          <li><a href="/books">All books</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="container">
    <% if flash.any? %>
      <div class="notice">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    <%= yield %>
  </div>

  </body>
  </html>
